html{
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
*, *::before, *after{
  box-sizing:inherit;
}
img{
  width:100%;
}
body{
  margin:0;
}
.logo{
  width:10%;
  padding:1em 1em 1em 1em;
}
h1{
  float:right;
  font-size:1rem;
  padding-right:7em;
  padding-top:1em;
}
.topart{
  background-color: lightgrey;
}
.navigation{
  list-style-type:none;
  text-align:center;
  font-weight:normal;
  padding:1em;
  font-size:12px;
}
nav ol{
  list-style-type:none;
  margin:0;
  padding:2em;
}
nav a{
  display:inline-block;
  text-decoration:none;
  color:black;
  padding:5px;
}
nav li{
  display:inline-block;
}
a:hover{
  color:purple;
}
.navv{
  background-color:grey;
}
.up{
  position:relative;
  gradient:
}
.eye{
  position:absolute;
  text-align:center;
  display:block;
  bottom:.5em;
  color:lightgrey;
  font-size:12px;
}
h2{
  font-size:1rem;
  text-decoration: none;
  text-align:center;
}
