@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }
html{
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
*, *::before, *::after{
  box-sizing: inherit;
}
img{
  width:100%;
  margin:0;
}
body{
  margin:0;
}
.logo{
  width:15%;
  padding:1em 1em 1em 1em;
  float:left;
}
h1{
  float:right;
  font-size:1rem;
  padding-right:7em;
  padding-top:1em;
  display:inline;
  font-family: 'Satisfy', cursive;
}
.topart{
  background-color: lightgrey;
}
.navigation{
  list-style-type:none;
  text-align:center;
  font-weight:normal;
  clear:both;
}
nav ol{
  list-style-type:none;
  margin:0;
  padding:2em;
}
nav a{
  display:inline-block;
  text-decoration:none;
  color:black;
  padding:5px;
}
nav li{
  display:inline-block;
}
ol li{
  display:inline;
  width:25%;
  margin:0em;
  padding:0em;
  font-size:10px;
}
a:hover{
  color:purple;
}
.navv{
  background-color:#889fa7;
}
.up{
  position:relative;
}

.eye{
  position:absolute;
  text-align:center;
  display:block;
  bottom:.5em;
  color:lightgrey;
  font-size:.80rem;
  text-shadow: 3px 2px 4px rgba(0,0,0,.5)
}
h2{
  font-size:1rem;
  text-decoration: none;
  text-align:center;
  list-style-type: none;
  font-weight:bold;
  font-size:1rem;
  font-family: 'Satisfy', cursive;
}
a{
  text-decoration:none;
  color:black;
}
.giza{
  display:block;
  width:100%;
  padding:1em;
}
h3{
  text-align:left;
  font-weight:bold;
  font-size:1em;
  margin:1em;
  font-family: 'Satisfy', cursive;
}
li{
  text-decoration:none;
  list-style-type: none;
  margin:0;
  padding:0;
}
.button{
  padding-top:.5em;
  padding-bottom:.5em;
  font-size:1rem;
  border-radius:10px;
  background-color:#b9c47f;
  text-align:center;
  display:block;
  margin:1em;
  font-family: 'Satisfy', cursive;
  width:50%;
}
.but{
  text-align:center;
  font-weight:bold;
  margin:0;
}
.babylon{
  width: 100%;
  padding:1em;
}
.artemis{
  width:100%;
  padding:1em;
}
.zeus{
  width:100%;
  padding:1em;
}
.mauso{
  width:100%;
  padding:1em;
}
.rhodes{
  width:100%;
  padding:1em;
}
.pharos{
  width:100%;
  padding:1em;
}
.div1{
  padding:0;
  margin:0;
}
.button1{
  padding:.5em;
  margin-bottom:1em;
  margin-left:2em;
  font-size:1rem;
  border-radius:10px;
  background-color:#889fa7;
  text-align:center;
  display:inline-block;
  width:42%;
  font-family: 'Satisfy', cursive;
}
.button2{
  padding:.5em;
  margin-bottom:1em;
  margin-right:2em;
  font-size:1rem;
  border-radius:10px;
  background-color:#b9c47f;
  text-align:center;
  display:inline-block;
  width:42%;
  font-family: 'Satisfy', cursive;
}
.atlan{
  position:relative;
}

.cap{
  position:absolute;
  top:40%;
  font-size:.80rem;
  text-align:center;
  color:white;
  margin:0;
  width:100%;
  display:block;
  text-shadow: 3px 2px 4px rgba(0,0,0,.5)
}
.button3{
  position:absolute;
  top:50%;
  padding:.5em;
  margin-bottom:1em;
  margin-left:25%;
  font-size:.80rem;
  text-align:center;
  border-radius:10px;
  display:block;
  width:50%;
  background-color:#889fa7;
  font-family: 'Satisfy', cursive;
}
footer{
  background-color:#889fa7;
  margin:0;
  padding:0;
  margin-bottom:0;
}
.adress{
  font-family: 'Satisfy', cursive;
}
.f{
  font-family: 'Satisfy', cursive;
}
body{
  margin:0;
  margin-bottom:0;
}
@media only screen and (min-width: 30em){
  .logo{
    width: 15%;
    display:block;
    margin-top: .5em;
  }
  .museum{
    font-size: 1.5rem;
    float:right;
    padding-right:1em;
    text-align:center;
    display:inline-block;
    margin-top:.5em;
  }
  h1{
    text-align:center;
    display:inline-block;
    font-size: 2rem;
  }
  nav li{
    font-size: .9rem;
    padding: .3em;
  }
  h2{
    font-size: 1.3rem;
  }
  h3{
    font-size: 1rem;
  }
  dl{
    font-size: 1rem;
  }
  .button3{
    font-size: 1rem;
  }
  .p{
    font-size: 1rem;
  }
  .cap{
    font-size:1rem;
  }
}
@media only screen and (min-width: 50em){
.logo{
  width:20%;
}
.giza{
  width:60%;
  margin-left:20%;
  margin-right:20%;
}
.babylon{
  width:60%;
  margin-left:20%;
  margin-right:20%;
}
.artemis{
  width:60%;
  margin-left:20%;
  margin-right:20%;
}
.zeus{
  width:60%;
  margin-left:20%;
  margin-right:20%;
}
.mauso{
  width:60%;
  margin-left:20%;
  margin-right:20%;
}
.rhodes{
  width:60%;
  margin-left:20%;
  margin-right:20%;
}
.pharos{
  width:60%;
  margin-left:20%;
  margin-right:20%;
}
h3{
  text-align:center;
}
.button{
  width:50%;
  margin-left:25%;
  margin-right:25%;
}
.eye{
  width:70%;
  margin-left:15%;
  margin-right:15%;
}
.button1{
  width:25%;
  margin-left:25%
}
.button2{
  width:25%;
  margin-right:20%;
}
p{
  text-align:center;
}
.fot{
  text-align:left;
}
.l{
  text-align:left;
}
.adress{
  text-align:left;
  margin-left:2.5em;
}
.copyright{
  text-align:left;
  margin-left:2.5em;
}
}
@media only screen and (min-width: 55em){
.logo{
  width:15%;
}
nav li{
  font-size:1.2em;
  }
.giza{
  float:left;
  clear:both;
  margin:0;
  width:50%;
}


.button{
  clear:both;
  margin:0;
  width:40%;
  margin-left:30%;
  margin-right:30%;
}
.babylon{
  float:left;
  margin:0;
  clear:both;
  width:50%;
}

.artemis{
  float:left;
  margin:0;
  clear:both;
  width:50%;
}

.zeus{
  float:left;
  margin:0;
  clear:both;
  width:50%;
}

.mauso{
  float:left;
  margin:0;
  clear:both;
  width:50%;
}
.rhodes{
  float:left;
  margin:0;
  clear:both;
  width:50%;
}
.pharos{
  float:left;
  margin:0;
  clear:both;
  width:50%;
}
}
@media only screen and (min-width: 69em){
  .logo{
    width:10%;
  }
  .bod{
    text-align:center;
  }
  h2{
    text-align:center;
    margin-left:27%;
    margin-right:25%;
  }
  .button3{
    width:20%;
    margin-left:40%;
    margin-right:40%;
  }
  .copyright{
    text-align:center;
  }
  .fot{
    text-align:center;
  }
  .adress{
    text-align:center;
  }
  .f{
    text-align:center;
  }
}
