html{
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
*, *::before, *::after{
  box-sizing: inherit;
}
img{
  width:100%;
  margin:0;
}
body{
  margin:0;
}
.logo{
  width:10%;
  padding:1em 1em 1em 1em;
  float:left;
}
h1{
  float:right;
  font-size:1rem;
  padding-right:7em;
  padding-top:1em;
  display:inline;
  font-family: 'Satisfy', cursive;
}
.topart{
  background-color: lightgrey;
}
.navigation{
  list-style-type:none;
  text-align:center;
  font-weight:normal;
  clear:both;
}
nav ol{
  list-style-type:none;
  margin:0;
  padding:2em;
}
nav a{
  display:inline-block;
  text-decoration:none;
  color:black;
  padding:5px;
}
nav li{
  display:inline-block;
}
ol li{
  display:inline;
  width:25%;
  margin:0em;
  padding:0em;
  font-size:10px;
}
a:hover{
  color:purple;
}
.navv{
  background-color:#889fa7;
}
.up{
  position:relative;
}

.eye{
  position:absolute;
  text-align:center;
  display:block;
  bottom:.5em;
  color:lightgrey;
  font-size:.80rem;
  text-shadow: 3px 2px 4px rgba(0,0,0,.5)
}
h2{
  font-size:1rem;
  text-decoration: none;
  text-align:center;
  list-style-type: none;
  font-weight:bold;
  font-size:1rem;
  font-family: 'Satisfy', cursive;
}
a{
  text-decoration:none;
  color:black;
}
.giza{
  display:block;
  width:90%;
  padding:1em;
}
h3{
  text-align:left;
  font-weight:bold;
  font-size:15px;
  margin:1em;
  font-family: 'Satisfy', cursive;
}
li{
  text-decoration:none;
  list-style-type: none;
  margin:0;
  padding:0;
}
.button{
  padding-top:.5em;
  padding-bottom:.5em;
  font-size:1rem;
  border-radius:10px;
  background-color:#b9c47f;
  text-align:center;
  display:block;
  margin:1em;
  font-family: 'Satisfy', cursive;
}
.but{
  text-align:center;
  font-weight:bold;
  margin:0;
}
.babylon{
  width: 90%;
  padding:1em;
}
.artemis{
  width:90%;
  padding:1em;
}
.zeus{
  width:90%;
  padding:1em;
}
.mauso{
  width:90%;
  padding:1em;
}
.rhodes{
  width:90%;
  padding:1em;
}
.pharos{
  width:90%;
  padding:1em;
}
.div1{
  padding:0;
  margin:0;
}
.button1{
  padding:.5em;
  margin-bottom:1em;
  margin-left:2em;
  font-size:1rem;
  border-radius:10px;
  background-color:#889fa7;
  text-align:center;
  display:inline-block;
  width:35%;
  font-family: 'Satisfy', cursive;
}
.button2{
  padding:.5em;
  margin-bottom:1em;
  margin-right:2em;
  font-size:1rem;
  border-radius:10px;
  background-color:#b9c47f;
  text-align:center;
  display:inline-block;
  width:35%;
  font-family: 'Satisfy', cursive;
}
.atlan{
  position:relative;
}

.cap{
  position:absolute;
  top:40%;
  font-size:.80rem;
  text-align:center;
  color:white;
  margin:0;
  width:100%;
  display:block;
  text-shadow: 3px 2px 4px rgba(0,0,0,.5)
}
.button3{
  position:absolute;
  top:80%;
  padding:.5em;
  margin-bottom:1em;
  margin-left:25%;
  font-size:.80rem;
  text-align:center;
  border-radius:10px;
  display:block;
  width:50%;
  font-family: 'Satisfy', cursive;
}
footer{
  background-color:#889fa7;
  margin:0;
  padding:0;
  margin-bottom:0;
}
.adress{
  font-family: 'Satisfy', cursive;
}
.f{
  font-family: 'Satisfy', cursive;
}
body{
  margin:0;
  margin-bottom:0;
}
